################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
bin/
obj/
.vs/
TestResults/
[Bb]in/
[Oo]bj/
*.user
*.rsuser
*.suo
*.cache
*.pdb
*.dll
*.exe
*.appx
*.appxbundle
*.msix
*.msixbundle
*.snupkg
*.nupkg
publish/
artifacts/
BenchmarkDotNet.Artifacts/
node_modules/
wwwroot/lib/
bin/
obj/
.vs/
TestResults/
[Bb]in/
[Oo]bj/
*.user
*.rsuser
*.suo
*.cache
*.pdb
*.dll
*.exe
*.appx
*.appxbundle
*.msix
*.msixbundle
*.snupkg
*.nupkg